.hoh-panel {
    background-color: lightgreen;
    display: inline-block;
    padding: 10px 20px;
    margin: 15px;
    width: 50%;
    margin: auto;
}

.pov-panel {
    background-color: gold;
    display: inline-block;
    padding: 10px 20px;
    margin: 15px;
    width: 50%;
    margin: auto;
}
