.contestant-panel {
    background-color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    font-size: 32px;
    font-weight: 600;
    padding: 15px 20px;

    margin: 5px;
}

.contestant-panel:hover {
    cursor: pointer;
    background-color: whitesmoke;
}
