.nominee-panel {
    background-color: #F95252;
    display: inline-block;
    padding: 10px 20px;
}

.nom-tiles {
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.nom-tiles > div {
    margin: 15px;
}
